.jumbotron {
    background-image: url("../../images/minions_banner2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    background-color: white;
    height: 250px;

  }
